{{ define "main" }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a
        class="btn btn-primary btn-lg px-5 mb-2"
        href="/book/introduction/"
        type="button"
        >阅读</a
      >
      <a
        class="btn btn-outline-success btn-lg px-4 mb-2"
        href="https://docs.google.com/spreadsheets/d/1xn3lofvsVf4Zc2iaudZ1VRIXSnkXysdUi75DYKRlw-I/edit#gid=0"
        role="button"
        target="_blank"
        >反馈</a
      >
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">密码学基础 🔐</h2>
        <p>
          介绍构成区块链底层的密码学基础知识，哈希算法、对称加密与非对称加密、数字签名等。
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">️区块链基础 🧩</h2>
        <p>
          介绍区块链相关的基础知识，区块链特点、区块链存储结构、点对点网络、钱包原理、共识算法等。
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">
          以太坊与 Solidity ⚡️</i>
        </h2>
        <p>
          介绍以 Ethereum 为基础的智能合约开发，Remix、Truffle、Ganache
          等开发工具，Solidity 编程语言，智能合约 的相关概念、部署与发布。
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">NFT & DeFi 💰</h2>
        <p>
          介绍基于智能合约的两个最热门的方向，NFT 和 DeFi，解读 ERC721 和
          ERC1155 等协议， 分析 DEX Uniswap
          的实现方式，并从零构建一个去中心化的交易所。
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">
          多链生态 🚀</i>
        </h2>
        <p>
          介绍除 Ethereum 之外的其他几个热门公链，如 EOS、Binance
          等，以及涉及到的跨链 技术，各种跨链桥的实现，解读 LayerZero、CCIP
          等跨链协议，并从零构建一个 ERC20 的跨链桥。
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">最佳实践 🛠</h2>
        <p>
          介绍 Web 3 开发中的相关最佳实践，基础设施 Infura、Alchemy、The Graph 等的使用，
          DAPP 项目的整体架构等。
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
